﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NotFound";
}

<h2>NotFound</h2>

<p>
    We're sorry. The Web address you entered is not a functioning page on our site.
</p>
<h1><b style="border:solid 1px #000;padding:4px;background:#fff;">404</b></h1>
<br />
<p>
    <b><a href="/Home/Index">home</a> page.</b>
</p>

