﻿
@{
    ViewBag.Title = "Unknown";
}

<h2>Unknown</h2>

<p>
    We're sorry. The address you entered is not a functioning page on our site.
</p>
<h1><b style="border:solid 1px #000;padding:4px;background:#fff;">500</b></h1>
<br />
<p style="margin-top:20px;">
    <b> <a href="/Home/Index">home</a> page.</b>
</p>