﻿@model IEnumerable<ChallengeBuck.Models.Title>

@{
    ViewBag.Title = "Search Title";
}


<h2>Search Title</h2>
<div ng-app="title_search">
    <div ng-controller="TitleController">
        <p>
            <table class="table">
                <tr>
                    <td>
                    @*using angularjs ,search is done here*@
                    <input type="text" ng-keydown="searchEmployee()" class="form-control" ng-model="searchkey" /></td>
                </tr>
            </table>
        </p>
        <p ng-bind="error"></p>
        @*display all the details of the search records*@
        <table class="table">
            <tr>
                <th>TitleName</th>
                <th>TitleNameSortable</th>
                <th>ReleaseYear</th>
                <th>ProcessedDateTimeUTC</th>
            </tr>
            <tr ng-repeat="title in Titles">
                <th>{{title.TitleName}}</th>
                <th>{{title.TitleNameSortable}}</th>
                <th>{{title.ReleaseYear}}</th>
                <th>{{title.ProcessedDateTimeUTC}}</th>
            </tr>
        </table>
    </div>
</div>