﻿@model IEnumerable<ChallengeBuck.Models.Title>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <table style="font-family:Arial; border:1px solid black; width: 300px">
        <tr>
            <td>
                <img src="@Url.Content(item.Photo)" alt="@item.TitleId" />
            </td>
            <td>
                <table>
                    <tr>
                        <td><b>Age:</b></td>
                        <td>@item.TitleName</td>
                    </tr>
                    <tr>
                        <td><b>Gender:</b></td>
                        <td>@item.ReleaseYear</td>
                    </tr>
                    <tr>
                        <td><b>Salary:</b></td>
                        <td>@item.TitleNameSortable</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
