﻿@model ChallengeBuck.Models.Title

<table style="font-family:Arial; border:1px solid black; width: 300px">
    <tr>
        <td>@Model.ProcessedDateTimeUTC</td>
        <td>
            sdsd
            <img src="@ViewBag.Logo" alt="@Model.TitleId" />
        </td>
        <td>
            <table>
                <tr>
                    <td>
                    ID
                    </td>
                    @Model.TitleId
                    <td></td>
                </tr>
                <tr>
                    <td><b>Age:</b></td>
                    <td>@Model.ProcessedDateTimeUTC</td>
                </tr>
                <tr>
                    <td><b>Gender:</b></td>
                    <td>@Model.TitleName</td>
                </tr>
                <tr>
                    <td><b>Salary:</b></td>
                    <td>@Model.ReleaseYear</td>
                </tr>
            </table>
        </td>
    </tr>
</table>