﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
   

    <h1>Error.</h1>
    <p>
        An error occurred while processing your request.
    </p>
    <h1><b style="border:solid 1px #000;padding:4px;background:#fff;">404</b></h1>
    <br />
    <p>
        <b><a href="/Home/Index">home</a> page.</b>
    </p>
</body>
</html>
